@{  
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Infomedia Quickbooks Integration";
}
<p>
    Infomedia going the next step to complete your Ecommerce Solution.
</p>
<p>
	Infomedia now offers Web Based integration betweeen your online store and your in-store Intuit Quickbooks Enterprise and Intuit Quickbooks POS software, making your accounting a breeze.
</p>